
body {
    background-color: #3aab42;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 25vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
